<ion-header>
    <ion-toolbar >
      <ion-title class="goodfont">Home</ion-title>


      <ion-buttons slot="primary">
        <ion-button (click)="presentActionSheet()">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>


    <h1 class="goodfont title">Ecotransfer</h1>
    <h1>Cleaning the ocean of plastic 🌎  </h1>
    <h3 text-center>Kilograms so far</h3>
    <h1>103</h1>
    <br><br>
    <h3 padding>Files to transfer</h3>
    <ion-row>
      <ion-col *ngFor="let item of files" size="3" (click)="donwload(item.payload.doc.data().url)"> 
          <img *ngIf="item.payload.doc.data().type === 'image/jpeg' || item.payload.doc.data().type === 'image/png' " src="{{item.payload.doc.data().url}}">
          <ion-icon *ngIf="item.payload.doc.data().type !== 'image/jpeg' && item.payload.doc.data().type !== 'image/png' " class="ionicon"  color="light" [src]="'assets/svg/' + item.payload.doc.data().name.slice(-3)  + '.svg'"></ion-icon>
          
          <p style="text-align: center;max-width:100px" > {{ item.payload.doc.data().name }}</p>
          
      </ion-col>
      
      
    </ion-row>
    <br><br>
    <ion-item margin-bottom margin-bottom >
        <ion-icon  name="document"></ion-icon>
        <input class="fileUpload btn btn-primary" id="file-upload" placeholder="" type="file" (change)="onUpload($event)" />
    </ion-item>
    <input #imageProd type="hidden" [value]="urlImage | async" style="color:black;">


    <ion-button size="large"  (click)="agregar()" class="main-container" color="light" expand="block">Upload file</ion-button>
  
 

    <br><br><br>
    <ion-card style="max-width:400px" color="light">
        <ion-item>
            <ion-icon name="help-circle" slot="end"></ion-icon>
            <ion-label> Need help?</ion-label>
            <ion-button  [routerLink]="['/tabs/tab2']" fill="outline" slot="end">See</ion-button>
        </ion-item>
    
        <ion-card-content>
           Check our explanarory tutorial and videos
        </ion-card-content>
    </ion-card>
</ion-content>